<app-navi></app-navi>

<section id="contact" class="contact section-bg">
  <div class="container">
    <div class="section-title">
      <h2>İletişim</h2>
      <p>Proje Geliştirici iletişim bilgileri</p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div
          class="info d-flex flex-column justify-content-center"
          data-aos="fade-right"
        >
          <div class="address">
            <i class="icofont-google-map"></i>
            <h4>Adres</h4>
            <p>Ankara<br />Ankara/Çankaya</p>
          </div>

          <div class="email">
            <i class="icofont-envelope"></i>
            <h4>Email:</h4>
            <p>aztekadir@gmail.com</p>
          </div>

          <div class="phone">
            <i class="icofont-phone"></i>
            <h4>Call:</h4>
            <p>+90 (552) 431 72 52</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div
          class="info d-flex flex-column justify-content-center"
          data-aos="fade-right"
        >
          <div class="address">
            <i class="icofont-github"></i>
            <h4>Github</h4>
            <p><a href="https://github.com/kadir-aztekin">Kadir Aztekin Github</a></p>
          </div>

          <div class="email">
            <i class="icofont-linkedin"></i>
            <h4>Linkedin:</h4>
            <p><a href="https://www.linkedin.com/in/kadir-aztekin-a3178b1a9/">Kadir Aztekin Linkedin</a></p>
          </div>

          <div class="phone">
            <i class="icofont-hand-power"></i>
            <h4>Ekip Arkadaşı</h4>
            <p>Yasin Çınar</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>