<header id="header" class="d-flex align-items-center">
    <div class="container">

      <!-- The main logo is shown in mobile version only. The centered nav-logo in nav menu is displayed in desktop view  -->
      <div class="logo d-block d-lg-none">
        <a href="index.html"><img src="../../../assets/img/KA.png" alt="" class="img-fluid"></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul class="nav-inner">
          <li routerLinkActive="active"><a routerLink="/homepage" >AnaSayfa</a></li>
          
          <li class="drop-down"><a href="">Ekleme</a>
            <ul>
              <li><a routerLink="/colorAdd">Renk Ekleme</a></li>
              <li><a routerLink="/brandAdd">Marka Ekleme</a></li>
              <li><a routerLink="/carAdd">Araç Ekleme</a></li>

              
            </ul>
          
          </li>
          

          <li class="nav-logo"><a routerLink="/"><img  src="../../../assets/img/siyah.png" style="height: 80px;" alt="" class="img-fluid"></a></li>

          <li routerLinkActive="active"><a routerLink="/cars" >Tüm Araçlar</a></li>
          <li routerLinkActive="active"><a routerLink="/contact" >İletişim</a></li>
          <li (click)="logout()"><a href="#contact">Çıkış</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header>