<header id="header" class="d-flex align-items-center">
    <div class="container">

      <!-- The main logo is shown in mobile version only. The centered nav-logo in nav menu is displayed in desktop view  -->
      <div class="logo d-block d-lg-none">
        <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul class="nav-inner">
          <li routerLinkActive="active"><a routerLink="/homepage" >Home</a></li>
          <li class="drop-down"><a href="">About</a>
            <ul>
              <li><a routerLink="/colorAdd">Resim Ekleme</a></li>
              <li><a routerLink="/brandAdd">Marka Ekleme</a></li>
              <li><a routerLink="/carAdd">Araç Ekleme</a></li>

              <li class="drop-down"><a href="#">Deep Drop</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#services">Services</a></li>

          <li class="nav-logo"><a routerLink="/"><img src="assets/img/logo.png" alt="" class="img-fluid"></a></li>

          <li routerLinkActive="active"><a routerLink="/cars" >Tüm Araçlar</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <li (click)="logout()"><a href="#contact">İleşim</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header>