<app-navi></app-navi>
<section id="team" class="team">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Team</h2>
        <p>Bu Projeyinin Yayına Girmisi İçin Gece-Gündüz Çalışan ve Yardımlarını Eksik Etmeyen Yasin Çınara Teşşekür Ederim...</p>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="zoom-in">
            <div class="member-img">
              <img src="assets/img/team/kadiraztekin.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href="https://twitter.com/aztekadir"><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href="https://www.instagram.com/aztekadir/"><i class="icofont-instagram"></i></a>
                <a href="https://www.linkedin.com/in/kadir-aztekin-a3178b1a9/"><i class="icofont-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Kadir Aztekin</h4>
              <span>FullStack Web Developer</span>
              <p>Kadir Aztekin;21 Yaşında Konya Necmettin Erbakan Üniversitesi Matematik Ve Bilgisayar Bilimleri Ögrencisi 
                Ankara/Çankaya Yaşamakta.Meslek Hayatını FullStack Web Developer Olarak Devam Ettirmekte.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="zoom-in" data-aos-delay="100">
            <div class="member-img">
              <img src="assets/img/team/yasinçınar.png" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href="https://github.com/yasin001905"><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Yasin Çınar</h4>
              <span>FullStack Web Developer and Grafiker</span>
              <p>Yasin Çınar;26 Yaşında Turizim ve Otelcilik Bölümü Mezunu Freelancer Web Developer Olarak Meslek Hayatına Devam Etmekte
                Sivas/Merkeze  Yaşamakta
              </p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>