<section id="hero">
  <div class="hero-container">
  <span class="p-5 background" >

  
    <a routerLink="/homepage" class="hero-logo" data-aos="zoom-in"
      ><img src="../../../assets/img/KA.png" style="height: 250px;" alt=""
    /></a>
    <h1 data-aos="zoom-in">Welcome To ReCap Project</h1>
    <h2 data-aos="fade-up">
      En Kali
    </h2>

    <div class="row">
      <div class="col">
        <a
          data-aos="fade-up"
          routerLink="/register"
          class="btn-get-started scrollto auth"
          ><i class='bx bxs-user-plus'></i> Kayıt Ol</a
        >
      </div>
      <div class="col">
        <a
          data-aos="fade-up"
          routerLink="/login"
          class="btn-get-started scrollto auth"
          ><i class='bx bx-log-in'></i> Giriş Yap</a
        >
      </div>
    </div>

    <a
      data-aos="fade-up"
      routerLink="/homepage"
      class="btn-get-started scrollto"
      ><i class='bx bxs-user'></i> Misafir Girişi</a
    >
  </span>
  </div>
</section>
