<app-navi></app-navi>

<form [formGroup]="loginForm" class="form-signin">
       
    <h1 class="h3 mb-4 mx-5">Giriş yapabilirsiniz</h1>
    <label for="inputEmail" class="sr-only">E-mail</label>
    <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Şifre</label>
    <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    
    <button class="btn btn-lg btn-primary btn-block" (click)="login()">Giriş Yap</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2021</p>
  </form>